.Full-container{
  width: 1200px;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 45px;
}
.Left-container{
     width: 50%;
     height: 1000px; 
}
.Heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login{
    background-color: aqua;
    margin: 5px;
}
.but{
    margin: 5px;
}
.Safety{
    color: green;
}
.Security{
    color:orange ;
}
.puntuality{
   color: blue;
}
.BT{
    display: flex;
    gap: 20px;
}
.Book{
    background-color: blue;
}
.PNR{
    background-color:white;
}
.from-to{
    display:flex;
    align-items:center;
}
.from {
    display: flex;
}
.to {
    display: flex;
}